body {
  background:#121212;
  color:#fff;
  font-family:system-ui;
  padding:10px;
  text-align:center;
}

input, button, select {
  width:100%;
  max-width:420px;
  padding:12px;
  margin:6px auto;
  border-radius:8px;
  border:none;
}

button {
  background:#00ffcc;
  font-weight:bold;
  cursor:pointer;
}

#current {
  font-size:4rem;
  color:#00ffcc;
}

#board {
  display:grid;
  grid-template-columns:repeat(9,1fr);
  gap:5px;
}

#board span {
  border-radius:50%;
  padding:10px;
}

.drawn {
  background:#00ffcc;
  color:#000;
}

table {
  width:100%;
  border-collapse:collapse;
  margin-top:10px;
}

td, th {
  border:1px solid #444;
  padding:6px;
}

.profit { color:#00ff99; }
.loss { color:#ff6666; }
