body {
  background:#121212;
  color:#fff;
  font-family:system-ui;
  padding:10px;
  text-align:center;
}

*, *::before, *::after {
  box-sizing: border-box;
}

input, button, select {
  width: 100%;
  max-width: 100%;
  padding: 12px;
  margin: 6px 0;
  border-radius: 8px;
  border: none;
}


button {
  background:#00ffcc;
  font-weight:bold;
  cursor:pointer;
}

#current {
  font-size:4rem;
  color:#00ffcc;
}

#board {
  display:grid;
  grid-template-columns:repeat(9,1fr);
  gap:5px;
}

#board span {
  border-radius:50%;
  padding:10px;
}

.drawn {
  background:#00ffcc;
  color:#000;
}

table {
  width:100%;
  border-collapse:collapse;
  margin-top:10px;
}

td, th {
  border:1px solid #444;
  padding:6px;
}

.profit { color:#00ff99; }
.loss { color:#ff6666; }

@media (max-width: 480px) {
  #board {
    grid-template-columns: repeat(5, 1fr);
  }

  #current {
    font-size: 3rem;
  }
}

.collapsible {
  cursor: pointer;
  background: #1f1f1f;
  padding: 10px;
  border-radius: 8px;
}

.collapsed {
  display: none;
}

